<div class='device-background'>
  <div class='device-text'>
    <h4>The Easiest Way to Turn Your Black and White Astronomy Photos into Color</h4>
    <p>Polaris allows you to upload a set of images taken in different bands and automatically align and color the images accordingly.</p>
    <button>Get Started</button>
  </div>
</div>
