$base-accent-color: lighten(#3498db, 10%);
$base-font-color: white;
$background-color: desaturate(#34495e, 10%);

html {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: calc(100% - 0px);
  width: 100%;
}

main {
  min-height: 100%;
}

.container {
  @include outer-container;

  background-color: $background-color;
  border-color: #3498db;
  border-radius: 3px;
  border-style: double;
  color: $base-font-color;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;

  a:active { color: lighten($base-accent-color, 15%); }
  a:visited { color: lighten($base-accent-color, 15%); }
  a:hover { color: white; }
}
