doctype html
html
  head
    title Polaris
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body
    header class='navigation' role='banner'
      div class='navigation-wrapper'
        a href='/' class='logo'
          img src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png' alt='Logo Image'

        a#js-mobile-menu.navigation-menu-button href='javascript:void(0)' MENU
        nav role='navigation'
          ul#js-navigation-menu.navigation-menu.show
            li.nav-link
              a href='https://github.com/andycandrea/polaris' Github
            li.nav-link
              = link_to 'Image Sets', image_sets_path
        div.navigation-tools
          - if current_user.present?
            = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-up'
          - else
            = link_to 'Sign In', new_user_session_path, class: 'sign-up'

    main.type-system-sans
      - flash.each do |key, value|
        div.flash-#{key} = value

      = yield
